### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.
REVIEWER: PLEASE NOTE THAT SOME OUTPUTS SUCH AS PURCHASING ANALYSIS(GENDER) COME OUT JUMBLED IF VIEWED RIGHT IN GITHUB. FORMATTING IS FINE IN JUPYTER NOTEBOOK

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
HeroesOfPymoli_path= "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
HeroesOfPymoli_df = pd.read_csv(HeroesOfPymoli_path)

## Player Count

* Display the total number of players

In [2]:
unique_players = len(HeroesOfPymoli_df["SN"].unique())
player_count_df = pd.DataFrame({"Total Players":[unique_players]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Number of Unique Items
unique_items = len(HeroesOfPymoli_df["Item ID"].unique())

#Average Price (series)
average_price = HeroesOfPymoli_df["Price"].mean()
average_price

#Number Of Purchases
number_of_purchases = HeroesOfPymoli_df["Purchase ID"].count()
number_of_purchases

#Total Revenue
total_revenue = HeroesOfPymoli_df["Price"].sum()
total_revenue

#Create a summary data frame to hold the results
summary_HeroesOfPymoli_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                              "Average Price": [average_price],
                              "Number of Purchases": [number_of_purchases],
                              "Total Revenue": [total_revenue]})
summary_HeroesOfPymoli_df["Average Price"] = summary_HeroesOfPymoli_df["Average Price"].map("${:.2f}".format)
summary_HeroesOfPymoli_df["Total Revenue"] = summary_HeroesOfPymoli_df["Total Revenue"].map("${:,.2f}".format)

summary_HeroesOfPymoli_df

#HeroesOfPymoli_df["average_price "] = HeroesOfPymoli_df["average_price"].map("${:.2f}".format)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
demo_HeroesOfPymoli_df = HeroesOfPymoli_df.loc[:, ["Gender", "SN", "Age"]]
demo_HeroesOfPymoli_df = demo_HeroesOfPymoli_df.drop_duplicates()

total_count = demo_HeroesOfPymoli_df["Gender"].value_counts()

percent_count = total_count / unique_players

gender_demo_df = pd.DataFrame({"Total Count": total_count, "Percentage of Players": percent_count})
gender_demo_df["Percentage of Players"] = pd.Series(["{0:.2f}%".format(val * 100) for val in gender_demo_df['Percentage of Players']], index = gender_demo_df.index)
gender_demo_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender_avg_purchase_HeroesOfPymoli = HeroesOfPymoli_df.groupby(['Gender']).mean()['Price']
gender_avg_purchase_HeroesOfPymoli

gender_purchase_count_HeroesOfPymoli = HeroesOfPymoli_df.groupby(['Gender']).count()['Price']
gender_purchase_count_HeroesOfPymoli

gender_purchase_total_HeroesOfPymoli = HeroesOfPymoli_df.groupby(['Gender']).sum()['Price']
gender_purchase_total_HeroesOfPymoli

normalized_total = gender_purchase_total_HeroesOfPymoli / gender_demo_df["Total Count"]

person_average_purchase = gender_purchase_total_HeroesOfPymoli / gender_purchase_count_HeroesOfPymoli
person_average_purchase

gender_purchases_df = pd.DataFrame({"Purchase Count": gender_purchase_count_HeroesOfPymoli, 
                                        "Average Purchase Price": gender_avg_purchase_HeroesOfPymoli,
                                        "Total Purchase Value": gender_purchase_total_HeroesOfPymoli, 
                                        "Avg Total Purchase per Person": normalized_total})
gender_purchases_df["Average Purchase Price"] = gender_purchases_df["Average Purchase Price"].map("${:.2f}".format)
gender_purchases_df["Total Purchase Value"] = gender_purchases_df["Total Purchase Value"].map("${:,.2f}".format)
gender_purchases_df["Avg Total Purchase per Person"] = gender_purchases_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

gender_purchases_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

##Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [34]:
bins = [0, 10, 14, 19, 24, 29, 34, 39, 45]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

demo_HeroesOfPymoli_df = HeroesOfPymoli_df.loc[:, ["Gender", "SN", "Age"]]
demo_HeroesOfPymoli_df = demo_HeroesOfPymoli_df.drop_duplicates()

pd.cut(demo_HeroesOfPymoli_df["Age"], bins, labels=group_labels).head()
demo_HeroesOfPymoli_df["Age Group"] = pd.cut(demo_HeroesOfPymoli_df["Age"], bins, labels=group_labels)
demo_HeroesOfPymoli_df.head()

HeroesOfPymoli_group = demo_HeroesOfPymoli_df.groupby("Age Group")

total_count = demo_HeroesOfPymoli_df["Age Group"].value_counts()

percent_count = total_count / unique_players

demo_df = pd.DataFrame({"Total Count": total_count, "Percentage of Players": percent_count})
demo_df["Percentage of Players"] = pd.Series(["{0:.2f}%".format(val * 100) for val in demo_df['Percentage of Players']], index = demo_df.index)

demo_df

       Total Count Percentage of Players
20-24          258                44.79%
15-19          107                18.58%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
<10             24                 4.17%
10-14           15                 2.60%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
demo_HeroesOfPymoli_df = HeroesOfPymoli_df.loc[:, ["Gender", "SN", "Age", "Price"]]

pd.cut(demo_HeroesOfPymoli_df["Age"], bins, labels=group_labels).head()
demo_HeroesOfPymoli_df["Age Group"] = pd.cut(demo_HeroesOfPymoli_df["Age"], bins, labels=group_labels)
demo_HeroesOfPymoli_df

age_avg_purchase_HeroesOfPymoli = demo_HeroesOfPymoli_df.groupby(['Age Group']).mean()['Price']
age_avg_purchase_HeroesOfPymoli

age_purchase_count_HeroesOfPymoli = demo_HeroesOfPymoli_df.groupby(['Age Group']).count()['Price']
age_purchase_count_HeroesOfPymoli

age_purchase_total_HeroesOfPymoli = demo_HeroesOfPymoli_df.groupby(['Age Group']).sum()['Price']
age_purchase_total_HeroesOfPymoli

normalized_total = age_purchase_total_HeroesOfPymoli / demo_df["Total Count"]

person_average_purchase = age_purchase_total_HeroesOfPymoli / age_purchase_count_HeroesOfPymoli
person_average_purchase

age_purchases_df = pd.DataFrame({"Purchase Count": age_purchase_count_HeroesOfPymoli, 
                                        "Average Purchase Price": age_avg_purchase_HeroesOfPymoli,
                                        "Total Purchase Value": age_purchase_total_HeroesOfPymoli, 
                                        "Avg Total Purchase per Person": normalized_total})

age_purchases_df["Average Purchase Price"] = age_purchases_df["Average Purchase Price"].map("${:.2f}".format)
age_purchases_df["Total Purchase Value"] = age_purchases_df["Total Purchase Value"].map("${:,.2f}".format)
age_purchases_df["Avg Total Purchase per Person"] = age_purchases_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

age_purchases_df
#sorted_age_purchases_df = age_purchases_df.groupby('Age Group', sort=False).sum()
#sorted_age_purchases_df.sort_index(ascending=False)
#print(sorted_age_purchases_df)
#sorted_age_purchases_df = age_purchases_df.sort_values("Age Group", ascending=False)
#sorted_age_purchases_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,19,$2.68,$50.95,$3.40
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,32,$3.40,$108.96,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
top_HeroesOfPymoli_df = HeroesOfPymoli_df.loc[:, ["SN", "Price"]]

purchase_count_HeroesOfPymoli = top_HeroesOfPymoli_df.groupby(['SN']).count()['Price']
purchase_count_HeroesOfPymoli

total_price_HeroesOfPymoli_df = top_HeroesOfPymoli_df.groupby(['SN']).sum()['Price']
total_price_HeroesOfPymoli_df

ave_price_HeroesOfPymoli_df = top_HeroesOfPymoli_df.groupby(['SN']).mean()['Price']
ave_price_HeroesOfPymoli_df

top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count_HeroesOfPymoli, 
                                        "Average Purchase Price": ave_price_HeroesOfPymoli_df,
                                        "Total Purchase Value": total_price_HeroesOfPymoli_df})

sorted_top_spenders_df = top_spenders_df.sort_values("Total Purchase Value", ascending=False)
sorted_top_spenders_df["Average Purchase Price"] = sorted_top_spenders_df["Average Purchase Price"].map("${:,.2f}".format)
sorted_top_spenders_df["Total Purchase Value"] = sorted_top_spenders_df["Total Purchase Value"].map("${:,.2f}".format)

sorted_top_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
pop_items_HeroesOfPymoli_df = HeroesOfPymoli_df.loc[:, ["Item ID", "Item Name", "Price"]]

pop_items_name_HeroesOfPymoli = pop_items_HeroesOfPymoli_df.groupby(['Item ID']).count()['Price']
pop_items_name_HeroesOfPymoli

pop_items_count_HeroesOfPymoli = pop_items_HeroesOfPymoli_df.groupby(['Item ID']).count()['Price']
pop_items_count_HeroesOfPymoli

pop_items_sum_HeroesOfPymoli = pop_items_HeroesOfPymoli_df.groupby(['Item ID']).sum()['Price']
pop_items_sum_HeroesOfPymoli

item_price_HeroesOfPymoli = pop_items_HeroesOfPymoli_df.groupby(['Item ID']).mean()['Price']
item_price_HeroesOfPymoli

pop_items_df = pd.DataFrame({"Purchase Count": pop_items_count_HeroesOfPymoli, 
                             "Item Price": item_price_HeroesOfPymoli,
                             "Total Purchase Value": pop_items_sum_HeroesOfPymoli})

pop_items_df = pop_items_df.sort_values("Purchase Count", ascending=False)
pop_items_df["Item Price"] = pop_items_df["Item Price"].map("${:,.2f}".format)
pop_items_df["Total Purchase Value"] = pop_items_df["Total Purchase Value"].map("${:,.2f}".format)

pop_items_df.head()

         Purchase Count Item Price Total Purchase Value
Item ID
178                  12      $4.23               $50.76
145                   9      $4.58               $41.22
108                   9      $3.53               $31.77
82                    9      $4.90               $44.10
19                    8      $1.02                $8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [45]:
pop_items_HeroesOfPymoli_df = HeroesOfPymoli_df.loc[:, ["Item ID", "Item Name", "Price"]]

pop_items_count_HeroesOfPymoli = pop_items_HeroesOfPymoli_df.groupby(['Item ID', 'Item Name']).count()['Price']
pop_items_count_HeroesOfPymoli

pop_items_sum_HeroesOfPymoli = pop_items_HeroesOfPymoli_df.groupby(['Item ID', 'Item Name']).sum()['Price']
pop_items_sum_HeroesOfPymoli

item_price_HeroesOfPymoli = pop_items_HeroesOfPymoli_df.groupby(['Item ID', 'Item Name']).mean()['Price']
item_price_HeroesOfPymoli

pop_items_df = pd.DataFrame({"Purchase Count": pop_items_count_HeroesOfPymoli, 
                             "Item Price": item_price_HeroesOfPymoli,
                             "Total Purchase Value": pop_items_sum_HeroesOfPymoli})

pop_items_df = pop_items_df.sort_values("Total Purchase Value", ascending=False)
pop_items_df["Item Price"] = pop_items_df["Item Price"].map("${:,.2f}".format)
pop_items_df["Total Purchase Value"] = pop_items_df["Total Purchase Value"].map("${:,.2f}".format)

pop_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80