### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
HeroesOfPymoli_path= "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
HeroesOfPymoli_df = pd.read_csv(HeroesOfPymoli_path)

## Player Count

* Display the total number of players

In [2]:
unique_players = len(HeroesOfPymoli_df["SN"].unique())
player_count_df = pd.DataFrame({"Total Players":[unique_players]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Number of Unique Items
unique_items = len(HeroesOfPymoli_df["Item ID"].unique())

#Average Price (series)
average_price = HeroesOfPymoli_df["Price"].mean()
average_price

#Number Of Purchases
number_of_purchases = HeroesOfPymoli_df["Purchase ID"].count()
number_of_purchases

#Total Revenue
total_revenue = HeroesOfPymoli_df["Price"].sum()
total_revenue

#Create a summary data frame to hold the results
summary_HeroesOfPymoli_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                              "Average Price": [average_price],
                              "Number of Purchases": [number_of_purchases],
                              "Total Revenue": [total_revenue]})

summary_HeroesOfPymoli_df

#HeroesOfPymoli_df["average_price "] = HeroesOfPymoli_df["average_price"].map("${:.2f}".format)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
demo_HeroesOfPymoli_df = HeroesOfPymoli_df.loc[:, ["Gender", "SN", "Age"]]
demo_HeroesOfPymoli_df = demo_HeroesOfPymoli_df.drop_duplicates()

total_count = demo_HeroesOfPymoli_df["Gender"].value_counts()

percent_count = total_count / unique_players

gender_demo_df = pd.DataFrame({"Total Count": total_count, "Percentage of Players": percent_count})
gender_demo_df

                       Total Count  Percentage of Players
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [45]:
gender_avg_purchase_HeroesOfPymoli = HeroesOfPymoli_df.groupby(['Gender']).mean()['Price']
gender_avg_purchase_HeroesOfPymoli

gender_purchase_count_HeroesOfPymoli = HeroesOfPymoli_df.groupby(['Gender']).count()['Price']
gender_purchase_count_HeroesOfPymoli

gender_purchase_total_HeroesOfPymoli = HeroesOfPymoli_df.groupby(['Gender']).sum()['Price']
gender_purchase_total_HeroesOfPymoli

normalized_total = gender_purchase_total_HeroesOfPymoli / gender_demo_df["Total Count"]

person_average_purchase = gender_purchase_total_HeroesOfPymoli / gender_purchase_count_HeroesOfPymoli
person_average_purchase

gender_purchases_df = pd.DataFrame({"Purchase Count": gender_purchase_count_HeroesOfPymoli, 
                                        "Average Purchase Price": gender_avg_purchase_HeroesOfPymoli,
                                        "Total Purchase Value": gender_purchase_total_HeroesOfPymoli, 
                                        "Avg Total Purchase per Person": normalized_total})
gender_purchases_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [44]:
bins = [0, 10, 14, 19, 24, 29, 34, 39, 45]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pd.cut(demo_HeroesOfPymoli_df["Age"], bins, labels=group_labels).head()
demo_HeroesOfPymoli_df["Age Group"] = pd.cut(demo_HeroesOfPymoli_df["Age"], bins, labels=group_labels)
demo_HeroesOfPymoli_df.head()

HeroesOfPymoli_group = demo_HeroesOfPymoli_df.groupby("Age Group")

total_count = demo_HeroesOfPymoli_df["Age Group"].value_counts()

percent_count = total_count / unique_players

age_demo_df = pd.DataFrame({"Total Count": total_count, "Percentage of Players": percent_count})
age_demo_df

       Total Count  Percentage of Players
20-24          258               0.447917
15-19          107               0.185764
25-29           77               0.133681
30-34           52               0.090278
35-39           31               0.053819
<10             24               0.041667
10-14           15               0.026042
40+             12               0.020833

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
grouped_HeroesOfPymoli_df = HeroesOfPymoli_df.groupby(['SN'])
spend_HeroesOfPymoli_sum = grouped_HeroesOfPymoli_df["Price"].sum()
spend_HeroesOfPymoli__avg = grouped_HeroesOfPymoli_df["Price"].mean()
spend_HeroesOfPymoli_count = grouped_HeroesOfPymoli_df["Price"].count()

#spend_HeroesOfPymoli_df = pd.grouped_HeroesOfPymoli_df({"Purchase Count": [unique_items_number],
                             # "Average Purchase Price": [average_price],
                             # "Total Purchase Value": [number_of_purchases]})
summary = pd.DataFrame({"Purchase Count": [spend_HeroesOfPymoli_count],"Average Purchase Price": [spend_HeroesOfPymoli__avg], 
                        "Total Purchase Value": [spend_HeroesOfPymoli_sum]})
summary

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame